body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header,
.heromain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 10px 15%;
}

.heromain {
    padding: 50px 15%;
}

.picture {
    max-width: 400px;
}

.firstcontent {
 text-align: center;
 padding: 50px;
}

.photo {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.photo1, 
.photo2, 
.photo3,
.photo4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 200px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 30px;
}

.statement {
    max-width: 500px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    margin-top: 15px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 8px;

}

a {
    text-decoration: none;
    color: #F9FAF8;
}

