body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header,
.heromain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.lefthero {
    max-width: 600px;
}

.header {
    padding: 10px 15%;
}

.heromain {
    padding: 50px 15%;
}

.picture {
    max-width: 400px;
}

.firstcontent {
 text-align: center;
 padding: 50px;
 flex: 1;
}

.photo {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.photo1, 
.photo2, 
.photo3,
.photo4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 200px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 30px;
    flex: 1;
}

.statement {
    max-width: 800px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    margin-top: 15px;
    font-weight: bold;
}

.lastcontainer {
    display: flex;
    justify-content: center;
    padding: 50px;
    color: #F9FAF8;
}

.callaction {
    background-color: #3882F6;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    border-radius: 10px;
}
.signup1 {
    border-radius: 10px;
    background-color: #3882F6;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #F9FAF8;
    border: 1px #3882F6;
}

.signup2 {
    border-radius: 10px;
    background-color: #3882F6;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #F9FAF8;
    border: 1px #F9FAF8 solid;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 12px;

}

a {
    text-decoration: none;
    color: #F9FAF8;
}


